.contact-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 11rem 0;
    height: 20vh;
}
.contact-title{
    font-size: 30px;
    margin-bottom: 20px;
    
    color: rgb(30, 69, 70);
}
.contact-msg{
    font-size: 20px;
    margin-bottom: 2rem;
}
.contact-content{
    display:flex;
    align-items: center;
    gap: 4rem;
}
.info-box{
    display:flex;
    align-items: center;
    gap:1.5rem;
}
.contact-container i{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem ;
}

.fa-github:hover{
        color:rgb(13, 134, 138);;
        cursor: pointer; 
}

 .icons{
    background-color: white;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 50%;
}
.info-text{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@media only screen and (max-width: 650px) {
    .contact-container{
        height: auto;
    }
    .contact-content{
        gap: 1rem;
        display: block;
        
    }
    .info-box{
        margin: 1rem;
        flex-direction: column;
        text-align: center;
    }
    .contact-msg{
        font-size: 20px;
        margin-bottom: 1rem;
    }
  }