.projects-container{
    padding: 0 1.7rem;
    
}
.project-title{
    text-align: center;
    margin: 3rem;
    color: rgb(15, 33, 102);
}

.projects-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-grid{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto;
    width: 60%;
    height: 100%;
    gap: 5rem;
}
.project-left{
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 1.7rem;
    height: 23rem;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;       
}
.project-right{
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 1.7rem;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    flex-direction: row-reverse !important; 
}

.project-image{
    width: 45rem;
    height: 300px;
    border-radius: 1.7rem;
    background-color: #7070701c;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    
}   
.hover-item{
    position: absolute;    
    display: flex;    
    width: 50rem;
    height: 300px;
    border-radius: 1.7rem;
    background-color: white;
    opacity: 0;
    transform: scale(1);
    transition: all .4s ease-in-out;
     
}
.project-right:hover  .hover-item{
    opacity: 1;
    background-color: aqua;  
    transform: scale(1);
}
.project-left:hover  .hover-item{
    opacity: 1;
    background-color: aqua;  
    transform: scale(1);
}
            


.project-text{
    display: flex; 
    flex-direction: column;
    text-align: center;
    justify-content: center;  
}
.project-text >p{
   
    color:  #767676;
    font-size: 15px;

}

.project-name{
    margin-bottom: 2rem;
    position: relative;
}
.tech-stack{
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 2rem ;

    
}
.tech{
    color: black;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    padding: 1rem 1.4rem;

}

.project-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    
}
.link-icons{
    display: flex;
    align-items: center;
    gap:5px;
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 50%;

    &:hover{
        color:rgb(13, 134, 138);;
        cursor: pointer;
    }
   }

   @media only screen and (max-height: 1000px)
   { 
        .projects-grid{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column !important;
        }

        
   }
   @media only screen and (max-width: 900px)
   {
    .projects-grid{
        align-items: center;
        justify-content: center;
        display: flex;
        height: auto;
        flex-direction: column !important;
        gap: 3rem;
        width: fit-content;
        margin: 0 auto;
    }
    .project-left{
        flex-direction: column;
        width: 65%;
        height: fit-content;
    }
    .project-right{
        flex-direction: column !important;
        width: 65%;
        height: fit-content;
         
    }
    .project-text{
        
        text-align: center;
        padding: 1rem 1.3rem;
    }
    
    .project-image{
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100%;
        width: 100%;
       
    }
   }
   @media only screen and (max-height: 650px)
   {
    .project-left{
        height: fit-content;
        width: 60rem;
    }
    .project-right{
        height: fit-content;
        width: 60rem;
    }
    .project-image{
        height: auto;
        width: 500px;
    }
   }
   @media only screen and (max-width: 650px) 
   {
    .project-left{
        width: 80%;
        height: fit-content;
    }
    .project-right{
        width: 80%;
        height: fit-content;
         
    }
    
   }

   @media only screen and (max-width: 440px)
   {
    .project-left{
        width: 100%;
        height: fit-content;
    }
    .project-right{
        width: 100%;
        height: fit-content;
         
    }
    .project-image{
        height: 200px;
        width: 100%;
        object-fit: fill;
    }
   }