.hero-container{
  height: 95vh;
  background-color:#243c53; 
}
.hero-content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.hero-container .leftSection{
  padding: 1rem ;
}
.heroImg{
  width: 80%;
  height: 80%;
}
.hero-container .rightSection{
  padding: 2rem ;
}

.hero-title {
    color: #ffffff ;
    margin-top: -100px; 
    text-align: left;
    font-size: 40px;

}
.greeting{
  font-size: 20px;
  display: block;
  text-align: left;
  
}
.highlight{
  color: rgb(202, 202, 18);
}


.hero-description {
    margin-bottom: 8px;
    font-size: 20px;
    color: #ffffff ;
    
}


.btn{
    margin-top: 6px;
}

@media  screen and (max-height: 590px)
{
  .hero-container{
    height: fit-content;
  }
}

@media screen and (max-width: 1000px) {
  .hero-container{
    flex-direction: column;
    text-align: center;
    height: 130vh;
    
     
  }
  .greeting{
    text-align: center;
  }
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
      
    }

    .hero-container .leftSection{
      position: absolute;
      top: 40%;
    }
    .hero-container .rightSection{
      position: absolute;
      top: 60%;
    }

    .hero-container .heroImg{
      
      width: 75%;
      height: 75%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
      
    }
  
    .btns {
      width: 70%;
    }

  }

  @media screen and (max-width: 430px) 
  {
    .hero-container{
      height: 93vh;
    }
    .hero-title{
      text-align: center;
     
    }
    .greeting{
      
      text-align: center;
    }
    
  }

  @media only screen and (min-height: 1201px) {
    .hero-content{
      position: relative;
      top: 15rem;
       
    }
   
  }

